@import "../../variables.scss";

.header {
  text-align: center;
  padding: 6px;
  margin: 0 auto;
  font-size: 16px;
  border-bottom: 1px solid $green-color;
  color: $green-color;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .label {
    font-size: 12px;
    color: $light-color;
    width: 70px;
    text-decoration: underline;
  }

  .value {
    font-size: 12px;
    color: $main-color;
    flex: 1;
  }
}

@media only screen and (min-width: $small) {
  .row {
    .label {
      font-size: 14px;
      width: 100px;
    }

    .value {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: $medium) {
  .row {
    .label {
      font-size: 14px;
      width: 100px;
    }

    .value {
      font-size: 14px;
    }
  }
}
