@import '../../variables.scss';

.div_search_str {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 4px;
  background-color: $secondary-color;

  z-index: 100;

}

.div_search_str .label {
  font-size: 0.8rem;
  color: $white-color;
}

.div_search_str .value {
  font-size: 0.9rem;
  font-weight: bold;
  color: $main-color;

  margin-inline: 4px;
}