@import '../../variables.scss';

.div_search_str {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  background-color: $secondary-color;
  position: relative;
  // top: 10px;
  right: -45px;
  width: 100vw;
}

.div_search_str .label {
  font-size: 0.6rem;
  color: $white-color;
}

.div_search_str .value {
  font-size: 0.7rem;
  font-weight: bold;
  color: $main-color;

  margin-inline: 4px;
}