@import "../../variables.scss";

.item_row {
  box-shadow: 0 0 1px 1px rgba($color: #000, $alpha: 0.3);
  border-radius: 6px;
  margin-block-end: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;

  .first_row {
    display: flex;
    justify-content: flex-start;

    .icon {
      background-color: $main-color;
      color: $white-color;
      display: inline-block;
      display: flex;
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer;
    }

    .item_names_container {
      flex: 1;
      color: $main-color;
      font-size: 16px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .second_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
  }

  .offer_div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: $offer-color, $alpha: 1);
    opacity: 0.2;
    z-index: -1;
  }
}

// loading icon
.loading {
  animation-name: loading-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading-move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
