@import "../../variables.scss";

.container {
  height: 100vh;
  width: 100%;
  min-width: 300px;

  position: absolute;

  overflow: hidden;
}

.container::after {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;

  top: 0;
  left: 0;

  background-color: $main-color;
  opacity: 0.9;
}

.signup {
  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
}

.signup p {
  font-size: 12px;
  color: $white-color;
}

.signup .button {
  color: $third-color;
  margin-inline-start: 4px;
  font-weight: bolder;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.forget_password {
  color: $third-color;

  margin-inline-start: auto;

  font-size: 0.7rem;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.info h3 {
  color: $white-color;
  font-weight: 400;
  margin-block-end: 10px;
}

.error {
  color: $third-color;
  text-align: center;
  font-size: 0.8rem;
  margin: 4px 0;
}

.info button {
  margin-top: 10px;
}

.small_logo {
  width: 100px;
  height: 100px;

  border-radius: 12px;

  position: relative;
  top: -50px;

  display: block;
}

@media only screen and (min-width: $small) {
  .container {
    width: 40%;
  }

  .small_logo {
    display: none;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    width: 25%;
  }
}