.outer_container {
  animation-name: signInContainerAnim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes signInContainerAnim {
  0% {
    opacity: 0;
    left: -100vw;
  }

  70% {
    opacity: 1;
    left: 0;
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
