@import "../../variables.scss";

.loader {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader p {
  color: $secondary-color;
}
