@import "../../variables.scss";

.input_div {
  margin: 4px 0;
  min-width: 100%;
  padding: 4px 8px;
  border-radius: 8px;

  background-color: $white-color;
  color: $secondary-color;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input_div input {
  width: 75px;
  margin-right: 8px;
  padding: 4px 0px;
  outline: none;
  border: none;
  color: $secondary-color;
  flex: 1;
}

.bordered {
  border: 1px solid $secondary-color;
}

.input_div label {
  min-width: 85px;
  font-size: 0.7rem;
  padding: 0 12px;
  text-align: left;
}

.input_div .icon_error {
  width: 30px;
  color: $red-color;
}

.input_div .icon_close {
  width: 30px;
  color: $secondary-color;
}

@media only screen and (min-width: $small) {
  .input_div label {
    font-size: 0.7rem;
    padding: 0 12px;
    text-align: left;
  }
}

@media only screen and (min-width: $medium) {
  .input_div label {
    font-size: 0.7rem;
    padding: 0 12px;
    text-align: left;
  }
}
