@import "../../variables.scss";

.input_div {
  min-width: 100%;
  margin: 4px 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: $white-color;
  color: $main-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  label {
    color: $grey-color;
    width: 75px;
    font-size: 0.5rem;
  }
}

.input_div input {
  margin-inline-start: 8px;
  margin-right: 8px;
  padding: 4px 0px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  color: $main-color;
  flex: 1;
}

.input_div input.small_font {
  font-size: 0.7rem;
}

.input_div input:disabled {
  background-color: transparent;
  color: $secondary-color;
}

.bordered {
  border: 1px solid $secondary-color;
}

.input_div label {
  font-size: 0.8rem;
  text-align: left;
}

.input_div .icon_error {
  width: 30px;
  color: $third-color;
}

.input_div .icon_close {
  width: 30px;
  color: $secondary-color;
}

.input::placeholder {
  font-size: 0.8rem;
  color: $secondary-color;
}

@media only screen and (min-width: $small) {
  .input_div label {
    padding: 0 12px;
    text-align: left;
    font-size: 0.57rem;
    width: 85px;
  }
}

@media only screen and (min-width: $medium) {
  .input_div label {
    padding: 0 12px;
    text-align: left;
    font-size: 0.7rem;
    width: 100px;
  }
}
