@import "../../variables.scss";

.item_row {
  border-bottom: 1px solid rgba($color: $light-color, $alpha: 0.3);
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;

  .row {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

    .additional_container {
      box-shadow: inset 0 0 1px 1px rgba($color: #000, $alpha: 0.1);
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      gap: 2px;

      .label {
        color: $main-color;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

.item_row.grey_bg {
  background-color: rgba($color: $light-grey-color, $alpha: 0.3);
}

@media only screen and (min-width: $small) {
  .item_row {
    .row {
      flex-direction: row;
      align-items: center;

      .additional_container {
        justify-content: space-evenly;
        gap: 5px;

        .label {
          width: 45px;
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  .item_row {
    .row {
      .additional_container {
        justify-content: space-evenly;

        .label {
          font-size: 14px;
          width: 70px;
        }
      }
    }
  }
}
