@import '../../variables.scss';

.max_qty_div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input {
  width: 100%;
  border: 1px solid $main-color;
  border-radius: 6px;
  padding-block: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);

  &:focus {
    outline: none;
    box-shadow: inset 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
  }
}

.container {
  box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.3);
  border-radius: 6px;
  margin-block-end: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 6px 0 0;
  background: $white-color;
  border-bottom: 2px solid rgba($color: #000000, $alpha: 0.3);
}

.name {
  color: $main-color;
  font-weight: bold;
  padding: 8px;
  text-align: start;
  min-width: 120px;
  flex: 1;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.delete_icon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.details {
  flex: 3;
  display: flex;
  flex-direction: column;

  .row {
    padding: 4px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    div {
      flex: 1;
      padding-inline-start: 10px;
      padding-right: 10px;
      overflow: hidden;


      .label {
        color: $secondary-color;
        font-size: 0.8rem;
        display: inline-block;
        text-align: start;
      }

      .label.first {
        min-width: 75px;
        width: 75px;
      }

      .qty {
        margin-left: 10px;
        margin-right: 10px;
      }

      .value {
        color: $main-color;
        margin-inline-start: 10px;
        margin-right: 10px;
        font-size: 1rem;
      }

      .value.price {
        display: inline-block;
        background-color: $green-color;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 3px;
        color: $white-color;
        font-weight: bold;
      }

      .value.customer_price {
        display: inline-block;
        background-color: $third-color;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 3px;
        color: $white-color;
        font-weight: bold;
      }

      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .row.last_row {
    border-bottom: none;
  }

  .sum_row {
    padding: 4px;
    display: flex;
    align-items: center;
    padding-inline-start: 10px;
    padding-right: 14px;
    overflow: hidden;

    .label {
      color: $secondary-color;
      font-size: 0.8rem;
      display: inline-block;
      text-align: start;
      min-width: 75px;
      width: 75px;

    }

    .qty_row {
      border: 1px solid black;
    }

    .total_price {
      flex: 1;
      text-align: left;
      font-size: 1.2rem;
      color: $green-color;
      padding-left: 10px;
    }

  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  color: $main-color;
  padding-top: 4px;
  padding-bottom: 4px;
}

.inline_block {
  display: inline-block;
}

// loading icon
.loading {
  animation-name: loading-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading-move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ribbon_2 {
  --f: 10px;
  /* control the folded part*/
  --r: 15px;
  /* control the ribbon shape */
  --t: 10px;
  /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path:
    polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: $yellow-color;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  color: $main-color;
}