@import "../../variables.scss";

.content_container {
  padding: 12px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

// .content_container p {
//   color: $secondary-color;
// }

.more_button {
  min-width: 100px;
  min-height: 36px;

  background: $secondary-color;
  color: $white-color;
  border: none;
  outline: none;
  border-radius: 6px;

  font-size: 1rem;

  cursor: pointer;
}

.display_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85px;
  padding: 4px 8px;
  margin: 5px auto;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);
}

.icon {
  width: 24px;
  height: 24px;
  padding: 4px;
}

.icon:hover {
  background: rgba($color: #000000, $alpha: 0.1);
  border-radius: 50%;
}

.icon.selected {
  color: $green-color;
}

.actions {
  position: absolute;
  left: 0;
  top: 15px;

  color: $secondary-color;

  display: flex;
  justify-content: center;

  transition: all 0.5s;

  cursor: pointer;
}

.search_input {
  padding: 2px 4px;
  outline: none;
  border: none;
  width: 0;
  opacity: 0;

  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);
  transition: width 0.31s;
}

.search_input.show {
  width: 200px;
  opacity: 1;
}

.favorite_div {
  display: flex;

  position: relative;
}

.favorites_content {
  min-width: 200px;
  box-shadow: 0 0 3px rgba($color: $secondary-color, $alpha: 0.5);
  border-radius: 6px;
  position: absolute;
  top: 20px;
  left: 50%;

  max-height: 300px;
  overflow: scroll;
  background: $white-color;
  z-index: 10;

  // border: 1px solid $secondary-color;
}

.no_more {
  color: $secondary-color;
  margin: 10px;
}

.no_content {
  font-size: 16rem;
  color: rgba($color: $secondary-color, $alpha: 0.3);
}
