.main_content_container {
    width: 100%;
    margin: 0 auto;
    margin-block-start: 10px;
    margin-top: 10px;
    margin-block-end: 10px;
    margin-bottom: 10px;
    padding-inline-start: 45px;
    padding-right: 45px;
    padding-inline-end: 10px;
    padding-left: 10px;
    padding-block-end: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
}
