@import "../../variables.scss";

.header_label {
    color: $white-color;
    font-size: 20px;
}

.name {
    flex: 3;
}

.count {
    flex: 1;
}

.action_div {
    width: 40px;
}

.value_label {
    color: $main-color;
    font-size: 16px;
    font-weight: bold;
}

.title {
    font-size: 18px;
    color: $green-color;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
