@import "../../variables.scss";
.main_container {
  width: 100vw;
  min-width: 100vw;
  min-height: calc(100vh - 60px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0%;

  transition: 3s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite_nav {
  width: 45px;
  position: fixed;
  left: 0;
  top: 20vh;
  z-index: 100;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  z-index: 200;

  .favorite_nav_icon {
    width: 100%;
    height: 46px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    opacity: 0.2;

    transition: all 0.3s;

    &:hover {
      background: $third-color;
      opacity: 1;

      .favorite_nav_tooltip {
        display: block;
      }
    }
  }

  .favorite_nav_tooltip {
    display: none;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 105%;
    background: #000;
    opacity: 0.8;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    font-size: 0.8rem;
  }

  &:hover {
    z-index: 200;
  }
}

.container {
  width: 98%;
  margin-block: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-block: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba($color: $white-color, $alpha: 1);
}

.header_adv_div {
  display: flex;
  justify-content: center;
  // flex-direction: column;
  padding: 20px 20px;
  background-color: rgba($color: $main-color, $alpha: 1);
  min-height: 60vh;
}

.header_with_slogn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: $small) {
  .container {
    flex-direction: column;
    width: 45%;
  }

  .header_adv_div {
    height: calc(100vh - 60px);
  }
}

@media only screen and (min-width: $medium) {
  .container {
    flex-direction: column;
    width: 32%;
  }

  .header_adv_div {
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
  }

  .header_with_slogn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
  }
}
