@import '../../variables.scss';

.advertisement_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: stretch;
}

.container {
  width: 98%;

  margin-block: 12px;
  padding-block: 12px;
  border-radius: 6px;

  box-shadow: 3px 3px 5px rgba($color: #000, $alpha: 0.3);
}

@media only screen and (min-width: $small) {
  .container {
    flex-direction: column;
    width: 45%;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    flex-direction: column;
    width: 32%;
  }
}

.square {
  width: 10vw;

  border-radius: 6px;

  position: absolute;

  background: rgba($color: $green-color, $alpha: 0.3);

  // transform: rotate(30deg);

  // top: 100px;
  // right: 100px;
}


.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}