@import '../../variables.scss';

.advertisement_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: stretch;
}

.main_container {
  width: 100vw;
  min-width: 100vw;

  min-height: calc(100vh - 60px);

  // background-image: url('http://localhost:8000/images/image001.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0%;

  transition: 5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  // animation-name: animate-background;
  // animation-direction: alternate-reverse;
  // animation-duration: 30s;
  // animation-fill-mode: forwards;
  // animation-iteration-count: infinite;
  // animation-play-state: running;
  // animation-timing-function: ease-in-out;
}

@keyframes animate-background {
  0% {
    background-image: url('http://localhost:8000/images/image001.jpeg');
  }

  20% {
    background-image: url('http://localhost:8000/images/image002.jpeg');
  }

  40% {
    background-image: url('http://localhost:8000/images/image003.jpeg');
  }

  60% {
    background-image: url('http://localhost:8000/images/image004.jpeg');
  }

  80% {
    background-image: url('http://localhost:8000/images/image005.jpeg');
  }

  100% {
    background-image: url('http://localhost:8000/images/image006.jpeg');
  }
}


.container {
  width: 98%;

  margin-block: 12px;
  padding-block: 12px;

  border-radius: 6px;

  box-shadow: 3px 3px 5px rgba($color: #000, $alpha: 0.3);
}

.describe_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  padding-block-end: 10px;

  min-height: calc(50vh);

}

.separator {
  width: 50%;
  height: 1px;

  margin-block: 10px;

  background-color: #e3e3e3;
}

@media only screen and (min-width: $small) {
  .container {
    flex-direction: column;
    width: 45%;
  }

  .separator {
    width: 1px;
    height: 150px;

    margin-block: 0;
  }

  .describe_container {
    flex-direction: row;

    padding-block-end: 10px;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    flex-direction: column;
    width: 32%;
  }
}