@import "../../variables.scss";

.row {
  padding: 10px 0;

  display: flex;
  align-items: center;
  margin: 2px 0;
  border-radius: 6px;
}

.row label {
  text-align: center;
  font-size: 0.8rem;
}

.row.even {
  background: rgba($color: $secondary-color, $alpha: 0.3);
}

.row.odd {
  background: rgba($color: $secondary-color, $alpha: 0.1);
}
