.modal_content {
  animation-name: modal-show;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes modal-show {
  0% {
    top: -100vh;
  }

  90% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}
