@import "../../variables.scss";

.order_div {
  display: flex;
  align-items: center;
  color: $secondary-color;

  padding: 4px 12px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.order_div .label {
  padding: 0 8px;
  flex: 1;
}

.order_option {
  display: flex;
  align-items: center;
}

.order_option div {
  display: flex;
  align-items: center;
}

.order_option label {
  font-size: 0.8rem;
  padding: 0 4px 0 8px;
}
