@import "../../variables.scss";

.search_container {
  width: 50%;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $secondary-color;
  padding-block-end: 10px;
  padding-bottom: 10px;
}

.search_input {
  flex: 1;
  padding: 6px 12px;
  margin: 0 6px;
  border: none;
  outline: none;
}

.company_row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;
  color: $secondary-color;

  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);
}