@import "../../variables.scss";
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px 0;
  padding: 4px 12px;

  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
  border-radius: 6px;
}

.container:hover {
  background: rgba($color: #000000, $alpha: 0.1);
}

.name {
  text-decoration: none;
  color: $secondary-color;
}
