@import "../../variables.scss";

.rows,
.loading {
  padding-bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

// pagination styles
.pagination {
  position: relative;

  margin-top: 10px;

  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  margin: 0 2px;
}

.pagination_link {
  font-weight: bold;
}

.pagination_link_active a {
  color: #fff;
  background: $secondary-color;
}

.pagination_link_disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

div.button_div {
  z-index: 3;
}

div.button_div > button {
  background-color: $third-color;
  color: $white-color;
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
}

.actions_icons {
  margin-right: auto;
  width: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;

  padding: 4px 0;

  color: $secondary-color;
}

.actions_icons div {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.actions_icons div:hover {
  background: rgba($color: #000000, $alpha: 0.1);
  border-radius: 50%;
}
