@import "../../variables.scss";

.table_header_div {
  padding: 10px 0;

  border-bottom: 1px solid $secondary-color;
  background: $white-color;

  display: flex;
  align-items: center;

  position: sticky;
  top: 60px;

  z-index: 2;
}

.table_header_div label {
  color: $secondary-color;
  text-align: center;
  font-size: 0.7rem;
}

.table_header_div .label_small {
  // width: 75px;
  flex: 1;
}

.table_header_div .label_xsmall {
  // width: 40px;
  flex: 1;
}

.table_header_div .label_medium {
  flex: 2;
}

.table_header_div .label_large {
  flex: 4;
}

.rows,
.loading {
  padding-bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

// pagination styles
.pagination {
  position: relative;

  margin-top: 10px;

  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  margin: 0 2px;
}

.pagination_link {
  font-weight: bold;
}

.pagination_link_active a {
  color: #fff;
  background: $secondary-color;
}

.pagination_link_disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

div.button_div {
  z-index: 3;
}

div.button_div > button {
  background-color: $third-color;
  color: $white-color;
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
}

.search_button {
  width: 36px;
  height: 36px;
  font-size: 1.2rem;

  border: none;
  outline: none;
  border-radius: 50%;

  background: $secondary-color;
  color: $white-color;

  display: flex;
  align-items: center;
  justify-content: center;

  // position: fixed;
  // left: 5%;
  // bottom: 20%;

  cursor: pointer;

  transition: all 0.5s;
}

.search_button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
