@import "../../variables.scss";

.partner_container {
  position: relative;
  width: 90%;
  min-height: 300px;
  margin-block-end: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba($color: $secondary-color, $alpha: 1);
  border: 1px solid $secondary-color;
  background-color: $white-color;
  border-radius: 15px;
  overflow: hidden;
  color: $main-color;
  display: flex;
  flex-direction: row;

  transition: all 1s;

  cursor: pointer;
}

.partner_container:hover {
  transform: scale(1.01);
}

@media only screen and (min-width: $small) {
  .partner_container {
    width: 48%;
  }
}

@media only screen and (min-width: $medium) {
  .partner_container {
    width: 31%;
  }
}

.icons_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: 10px;
  left: 10px;
}

.offer_icon {
  position: absolute;
  top: 0px;
  right: 10px;
  color: $yellow-color;
  z-index: 2;
  transform: rotate(15deg);
}

.logo_div {
  flex: 1;

  display: flex;
}

.logo {
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.company_name {
  font-size: 1.5rem;
  color: $white-color;
  text-align: center;
  background-color: $main-color;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  color: $white-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all 1s;
}

.showed_content {
  border-top-left-radius: 30px;
  padding: 4px;
  background: $white-color;
  z-index: 5;
  transition: all 1s;

  .main_details {
    border-top: 1px solid $secondary-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .name {
      color: $main-color;
      font-size: 20px;
      font-weight: bold;
    }

    .secondRow {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 1);

      .nameAr {
        flex: 1;
        color: $main-color;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .price {
      color: rgb(86, 227, 25);
      margin-inline-end: 10px;
      margin-left: 10px;
      font-weight: bolder;

      .customer_price {
        color: $third-color;
      }
    }
  }

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .label {
      min-width: 60px;
      font-size: 0.7rem;
      color: $grey-color;
    }

    .value {
      color: $main-color;
      font-size: 0.9rem;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.ribbon_2 {
  --f: 10px;
  /* control the folded part*/
  --r: 15px;
  /* control the ribbon shape */
  --t: 10px;
  /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 20px var(--f) calc(10px + var(--r));
  clip-path:
    polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: $yellow-color;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  color: $main-color;
}