@import "../../variables.scss";

.table {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $light-grey-color;
    margin-bottom: 5px;
}

.cell {
    text-align: center;
    width: 50px;
    font-size: 12px;
}

.header {
    border-bottom: 1px solid $green-color;
    padding-bottom: 10px;

    .cell {
        color: $green-color;
        font-size: 10px;
    }
}

.body {
    .cell {
        color: $main-color;
    }
}

.item_names_cell {
    display: flex;
    flex-direction: column;
    // font-weight: bold;
}

.names_container {
    flex: 1;
    text-align: start;
}

@media only screen and (min-width: $small) {
    .cell {
        width: 60px;
        font-size: 14px;
    }

    .header {
        .cell {
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: $medium) {
    .cell {
        width: 70px;
        font-size: 16px;
    }

    .header {
        .cell {
            font-size: 14px;
        }
    }
}
