@import "../../variables.scss";

.basic_details_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-block-end: 6px;
}

.label {
  width: 75px;
  font-size: 0.8rem;
  color: #9d9d9d;
}

.name {
  color: $secondary-color;

  margin-inline: 10px;

  font-size: 0.9rem;

}

.total_price {
  text-align: left;
  color: $green-color;
  padding-left: 6px;
}