@import "../../variables.scss";

.container {
  padding: 10px;
  position: relative;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);

  // background: hsla(233, 100%, 90%, 1);
  // background: linear-gradient(225deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  // background: -moz-linear-gradient(225deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  // background: -webkit-linear-gradient(225deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
  // box-shadow: 0 2px 8px 3px rgba($color: #000000, $alpha: 0.2);
}

.image {
  overflow: hidden;
  border-radius: 12px;
  margin: auto 10px;
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba($color: $main-color, $alpha: 0.4);
  transition: all 0.3s ease-in-out;
}

.collapsed {
  display: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.expanded {
  max-width: calc(90vw - 40px);
  max-height: calc(90vw - 40px);
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px 3px rgba($color: #000, $alpha: 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cont;
  }
}

.dots {
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .dot {
    width: 12px;
    height: 12px;
    margin-inline: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $dark-color;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 2px 2px rgba($color: $dark-color, $alpha: 0.8);
    }
  }

  .dot.selected {
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba($color: $dark-color, $alpha: 0.8);
  }
}

@media only screen and (min-width: $medium) {
  .container {
    height: calc(100vh - 60px);
    flex-direction: row;
  }

  .collapsed {
    display: block;
    max-width: 30px;
    height: 400px;
    filter: blur(2px) opacity(0.5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .dots {
    display: none;
  }
}
