@import "../../variables.scss";
.search_container {
  width: 100%;
  background-color: $main-color;
  border-radius: 6px;
  padding: 6px;
}

.search_input {
  width: 100%;
  padding: 6px 12px;
  margin: 0 6px;
  border: none;
  outline: none;
  background-color: inherit;
  color: $white-color;
}

.search_input::placeholder {
  color: rgba($color: $white-color, $alpha: 0.8);
  font-style: italic;
}

.more_btn {
  width: 100%;
  border: none;
  outline: none;
  background-color: $main-color;
  color: $white-color;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 3px 3px rgba($color: $main-color, $alpha: 0.4);
  }
}

.item_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
