@import "../../variables.scss";

.info_row {
  padding: 8px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info_row .label {
  width: 75px;
  min-width: 75px;
  text-align: start;
  padding-inline-end: 6px;
  padding-left: 6px;
  color: $dark-color;
  font-size: 14px;
}

.info_row .value {
  flex: 1;
  color: $main-color;
}

.value input {
  width: 100%;
  color: $main-color;
  padding: 4px;
  border: none;
  outline: none;
}

.error {
  width: 100%;
  color: $third-color;
  text-align: center;
  font-size: 12px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: $small) {
  .info_row .label {
    width: 100px;
    min-width: 100px;
    color: #9d9d9d;
  }

  .info_row .value {
    font-size: 1rem;
  }
}
