@import "../../variables.scss";

.search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $secondary-color;
  color: $white-color;

  position: fixed;
  width: calc(100vw - 35px);
  top: 60px;
  right: 35px;

  label {
    color: $secondary-color;
  }
}

.search_container.expanded {
  padding: 8px;
  padding-inline-start: 3px;
  padding-right: 3px;
  z-index: 10;
}

.expanded_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.checkbox_div {
  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);

  display: flex;
  align-items: center;

  margin: 4px 40px 4px 0;
  padding: 4px 0;
}

.checkbox_div label {
  font-size: 0.7rem;
  padding-inline-start: 10px;
  padding-right: 10px;
  color: $white-color;
}