@import "../../variables.scss";

.content {
  // width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  padding: 0 12px;
  color: $secondary-color;
}

.textarea {
  min-width: 100%;
  min-height: 60px;

  outline: none;
  border: none;

  padding: 2px 4px;
  color: $secondary-color;
}

.textarea:disabled {
  color: gray;
}

.select_div {
  padding: 6px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-inline-start: 15px;
}

.error_icon {
  color: $red-color;
}

.action_div {
  display: flex;
  justify-content: center;
}

.add_button {
  padding: 8px 12px;
  margin-block-start: 8px auto;

  color: $white-color;

  border: none;
  outline: none;

  border-radius: 6px;
}

.horizontal_div {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.error_ul {
  width: 50%;

  margin: 12px auto;
}

.error_ul li {
  color: $red-color;
  font-size: 0.8rem;
}

.info {
  flex: 1;
  height: calc(100vh - 160px);
  overflow: scroll;
}

.logo {
  margin: 10px 0;
  padding: 10px;


  background-color: $secondary-color;
  box-shadow: 3px 3px 3px rgba($color: #000, $alpha: 0.5);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
  }
}

textarea:disabled {
  color: $secondary-color;
}

@media only screen and (min-width: $small) {
  .content {
    // width: 75%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}