@import "../../variables.scss";

.content {
  width: 75%;
  margin: 0 auto;
}

.description {
  padding: 0 12px;
  color: $secondary-color;
}

.textarea {
  min-width: 100%;
  min-height: 60px;

  outline: none;
  border: none;

  padding: 2px 4px;
  color: $secondary-color;
}

.textarea:disabled {
  color: gray;
}

.select_div {
  padding: 6px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-inline-start: 15px;
}

.error_icon {
  color: $red-color;
}

.action_div {
  display: flex;
  justify-content: center;
}

.add_button {
  padding: 8px 12px;
  margin-block-start: 8px auto;

  color: $white-color;

  border: none;
  outline: none;

  border-radius: 6px;
}

.horizontal_div {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.error_ul {
  width: 50%;

  margin: 12px auto;
}

.error_ul li {
  color: $red-color;
  font-size: 0.8rem;
}

.logo {
  width: 200px;
  height: 200px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
  border-radius: 50%;
  
  margin: 10px 0;
}

textarea:disabled {
  color: $secondary-color;
}
