@import "../../variables.scss";

.search_container {
  width: 50%;

  padding-block-end: 10px;
  margin-inline: auto;

  border-bottom: 1px solid $secondary-color;
}

.search_input {
  padding: 6px 12px;
  margin: 0 6px;
  
  flex: 1;

  border: none;
  outline: none;
}

.item_row {
  padding: 5px 10px;

  color: $secondary-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);
}

.item_name {
  flex: 3;
}

.small {
  flex: 1;
  font-size: 0.7rem;
}
