@import "../../variables.scss";

.partner_container {
  position: relative;
  width: 90%;
  min-height: 300px;
  margin-block-end: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba($color: $secondary-color, $alpha: 1);
  border: 1px solid $secondary-color;
  background-color: $white-color;
  border-radius: 15px;
  overflow: hidden;
  color: $main-color;
  display: flex;
  flex-direction: row;

  transition: all 1s;

  cursor: pointer;
}

.partner_container:hover {
  transform: scale(1.01);
}

@media only screen and (min-width: $small) {
  .partner_container {
    width: 48%;
  }
}

@media only screen and (min-width: $medium) {
  .partner_container {
    width: 31%;
  }
}

.icons_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.offer_icon {
  position: absolute;
  top: -1px;
  right: 10px;
  color: $yellow-color;
  z-index: 2;
}

.logo_div {
  flex: 1;

  display: flex;
}

.logo {
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}


.company_name {
  font-size: 1.5rem;
  color: rgb(86, 227, 25);
  text-align: center;
  background-color: $main-color;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  color: $white-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: all 1s;
}

.showed_content {
  border-top-left-radius: 30px;
  padding: 4px;
  background: $white-color;
  z-index: 5;
  transition: all 1s;

  .main_details {
    border-top: 1px solid $secondary-color;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .name_details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .name {
        color: $main-color;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .composition {
        color: $secondary-color;
        padding-inline-start: 10px;
        font-size: 0.8rem;
      }


    }

    .price {
      color: $third-color;
      margin-inline-end: 10px;
      font-weight: bolder;

      .customer_price {
        color: rgb(86, 227, 25);
      }
    }
  }

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 20px;

    .label {
      width: 75px;
      font-size: 0.7rem;
      color: $grey-color;
      text-align: end;
    }

    .value {
      color: $main-color;
      font-size: 0.9rem;
      padding-inline: 10px;
    }
  }
}