@import '../../variables.scss';

.container {
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
  border-radius: 6px;
  margin-block-end: 10px;
  display: flex;
  // overflow: hidden;
  position: relative;
}

.offer_icon {
  position: absolute;
  top: -1px;
  right: 10px;
  color: $yellow-color;
  z-index: 2;
}

.name {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: $main-color;
  font-weight: bold;
  min-width: 150px;
  width: 150px;
  color: $white-color;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: rgba($color: $main-color, $alpha: 1);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
}

.details {
  flex: 3;
  display: flex;
  flex-direction: column;

  .row {
    padding: 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    div {
      flex: 1;
      padding-inline-start: 10px;

      .label {
        color: $secondary-color;
        font-size: 0.6rem;
        min-width: 50px;
        width: 50px;
        display: inline-block;
        text-align: start;
      }

      .value {
        color: $main-color;
        margin-inline-start: 10px;
        font-size: 0.8rem;
      }
    }
  }

  .row.last_row {
    border-bottom: none;
  }
}

.actions {
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: $small) {
  .name {
    font-size: 0.8rem;
    width: 150px;
  }

  .details {
    .row {
      flex-direction: row;
      align-items: center;

      div {
        .label {
          font-size: 0.7rem;
          min-width: 75px;
          width: 75px;
        }

        .value {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  .name {
    font-size: 1rem;
  }

  .details {
    .row {
      flex-direction: row;
      align-items: center;

      div {
        .label {
          font-size: 0.8rem;
          min-width: 100px;
          width: 100px;
        }

        .value {
          font-size: 1rem;
        }
      }
    }
  }
}

// loading icon
.loading {
  animation-name: loading-move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loading-move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}