@import "../../variables.scss";

.order_container {
  display: flex;
  align-items: center;
}

.order_container label {
  padding: 0 5px;
  
  font-size: 14px;
  
  color: $secondary-color;

  flex: 1;
  text-align: center;
}
