@import "../../variables.scss";

.order_container {
  // display properties
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_container label {
  padding: 0 5px;
  color: $secondary-color;
}
