@import "../../variables.scss";

.basket_div {
  padding: 5px;
  position: relative;
  margin: 20px auto;
  border-bottom: 3px solid $dark-color;
}

.expanded_div {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  color: $white-color;
  background-color: $dark-color;
  border-radius: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;

  input,
  textarea {
    flex: 1;
    outline: none;
    border: none;
    padding: 2px 4px;
    font-size: 16px;
    border-radius: 6px;
  }

  input:disabled,
  textarea:disabled {
    background-color: #fffc;
    color: $main-color;
    font-weight: bold;
  }
}

.details_row label:first-child {
  font-size: 14px;
  text-decoration: underline;
  color: $light-color;
  display: inline-block;
  margin-left: 10px;
  min-width: 75px;
}

.details_row label:nth-child(2) {
  font-size: 14px;
  font-weight: bold;
  color: $dark-color;
  display: inline-block;
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: flex-start;
  overflow: hidden;

  label {
    min-width: 75px;
    color: $main-color;
    font-size: 13px;
  }

  p {
    flex: 1;
    padding-left: 30px;
    color: $main-color;
  }
}

.actions {
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
