@import "../../variables.scss";

.content_div {
  width: 95%;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  border-bottom: 1px solid $light-color;
  margin-block-end: 10px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 50%;
  max-height: auto;
  border-radius: 6px;
  float: left;
  padding: 6px;
  margin-inline-start: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);
  border: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.header {
  font-weight: bold;
  font-size: 1.5rem;
  color: $main-color;
}

.date {
  font-size: 1rem;
  color: $main-color;
}

.body {
  color: $dark-color;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (min-width: $small) {
  .content_div {
    width: 80%;
  }
}
