@import "../../variables.scss";

.input {
  border: none;
  outline: none;
  border-bottom: 1px solid $secondary-color;
  flex: 1;
  padding: 4px 0;
  color: $main-color;
}

.error {
  border-bottom: 1px solid $third-color;
}

.label {
  min-width: 75px;
  font-size: 0.8rem;
  color: $grey-color;
}

.value {
  color: $main-color;
}

.checkbox_label {
  color: $main-color;
  font-size: 0.9rem;
  padding-inline: 10px;
  padding-right: 10px;
  padding-left: 10px;
}