@import "../../variables.scss";

.warehouse_row {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  color: $secondary-color;
  padding: 4px 0;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

@media only screen and (min-width: $small) {
  .warehouse_row {
    flex-direction: row;
    align-items: center;
  }
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 0;
  margin: 4px 0;
  border-radius: 6px;
  background: #0f04;
  color: $secondary-color;
}

.value {
  border-radius: 4px;
  background: $white-color;
  color: $third-color;

  margin: 0 4px;
  padding: 0 6px;
}

.max_qty_div {
  display: flex;
  align-items: center;

  margin-block: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.select_warehouse {
  display: flex;
  align-items: center;

}

.max_qty_div label,
.select_warehouse label {
  color: #9d9d9d;

  font-size: 0.7rem;

  margin-inline-end: 4px;
  margin-left: 4px;
  min-width: 100px;

  text-align: end;
}

// .select_warehouse label {

// }

.max_qty_div p {
  margin: 0 5px;
}

.max_qty_div input {
  width: 60px;
  padding: 2px 4px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.max_qty_div input.error {
  border: 1px solid rgba($color: #ff0000, $alpha: 1);
}