@import "../../variables.scss";

.container {
  width: 100vw;
  min-height: calc(60vh);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  width: 90vw;
  margin: 0 auto;
  padding: 10px;

  text-align: center;
  color: #fff;

  border-radius: 15px;

  align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h2 {
  padding: 10px 0;

  font-weight: 600;
  font-size: 2rem;

  text-shadow: 2px 2px 5px rgba($color: #000, $alpha: 0.5);
}

.slicker {
  width: 80vw;
}

@media only screen and (min-width: $medium) {
  .container {
    flex-direction: row;
  }

  .header {
    width: 20vw;
    margin: 30px 0;
  }

  .header h2 {
    padding: 50px 0;
  }

  .slicker {
    width: 60vw;
  }
}