@import "../../variables.scss";

.partner_container {
  width: 90%;
  height: 200px;
  // min-height: 280px;

  margin-block-end: 20px;

  background: #fff;
  box-shadow: 2px 2px 5px rgba($color: $black-color, $alpha: 0.7);
  border-radius: 6px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transition: all 1s;

  overflow: hidden;
}

.logo_div {
  width: 150px;
  height: 150px;

  border-radius: 6px;
}

.content {
  padding: 12px;
  text-decoration: none;
}

.content:hover {
  text-decoration: underline;
}

@media only screen and (min-width: $medium) {}