@import '../../variables.scss';

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: hsla(0, 0%, 100%, 1);



  .image {
    position: relative;
    width: 50%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(235deg, hsla(0, 0%, 100%, 1) 0%, hsla(220, 46%, 48%, 1) 73%);
      mix-blend-mode: screen;
    }

    img {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba($color: $main-color, $alpha: 1);
  }
}

@media (max-width: 768px) {
  .container {
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba($color: $main-color, $alpha: 0.8);
    }
  }


}