@import "../../variables.scss";

.nameDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item_name {
    font-size: 16px;
}

.nameAr::before {
    content: "";
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (min-width: $small) {
    .nameDiv {
        display: flex;
        flex-direction: column;
    }

    .nameAr::before {
        content: "";
        margin-right: 0;
        margin-left: 0;
    }

    .item_name {
        font-size: 18px;
    }
}

@media only screen and (min-width: $medium) {
    .nameDiv {
        display: flex;
        flex-direction: row;
    }

    .nameAr::before {
        content: "-";
        margin-right: 20px;
        margin-left: 5px;
    }

    .item_name {
        font-size: 18px;
    }
}
