@import "../../variables.scss";

.inputs_div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.separator {
  width: 120%;
  height: 1px;
  background: $gunmetal;
  margin: 5px auto;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background: $burnt-sienna;
  color: #fff;

  outline: none;
  border: none;
  border-radius: 5px;

  z-index: 10;

  cursor: pointer;

  transition: all 0.5s;

  &:hover {
    opacity: 0.9;
    transform: scale(0.95);
  }
}

.input_form_container {
  width: 49%;
}
