@import "../../variables.scss";

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  height: calc(100vh - 60px);
}

.container h2 {
  text-shadow: 2px 2px 5px rgba($color: #000, $alpha: 0.5);
  color: rgb(59, 191, 107);

  font-weight: 600;
  font-size: 1.4rem;

  width: 350px;

  text-align: center;
  margin: auto;

  transition: all 0.3s ease;
}
