@import "../../variables.scss";

.name {
  flex: 2;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.7rem;

  padding: 0 12px;
}

.info input {
  width: 50px;
  padding: 4px;
  outline: none;
  border: 1px solid $secondary-color;
  border-radius: 6px;
  font-size: 0.7rem;
}

.warehouse_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $secondary-color;
  padding: 4px 0;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.max_qty_div {
  display: flex;

  justify-content: center;
}

.max_qty_div p {
  margin: 0 5px;
}

.max_qty_div input {
  width: 60px;
  padding: 2px 4px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.max_qty_div input.error {
  border: 1px solid rgba($color: #ff0000, $alpha: 1);
}
