@import '../../variables.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 10px;
  width: 100%;

  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.2);

  &:hover {
    background-color: rgba($color: #000, $alpha: 0.1);
  }

  .details {
    flex: 1;

    .name {
      color: $main-color;
      font-weight: bold;
    }

    label {
      &::after {
        content: ' - ';
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    color: $grey-color;
    font-size: 0.8rem;

    &::after {
      content: '';
      margin-inline: 4px;
      color: $main-color;
    }
  }


}