@import "../../variables.scss";

.input_div {
  background: $white-color;
  color: $secondary-color;
  border-radius: 6px;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 5px;
}

.input_div input {
  margin-inline-end: 8px;
  margin-block-end: 4px;
  padding: 4px 0px;
  outline: none;
  border: none;
  color: $main-color;
  background: $white-color;
  flex: 4;
}

.input_div label {
  font-size: 0.6rem;
  padding: 0 12px;
  text-align: left;
  color: $secondary-color;
}

.input_div .icon_close {
  position: absolute;
  left: 10px;
  color: $secondary-color;
}