@import "../../variables.scss";

.input_div {
  background: $white-color;
  color: $secondary-color;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input_div input {
  margin-inline-end: 8px;
  margin-block-end: 4px;
  padding: 4px 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  color: $secondary-color;
  background: $white-color;
  flex: 4;
}

.input_div input:focus {
  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 1);
}

.input_div label {
  flex: 1;
  font-size: 0.6rem;
  padding: 0 12px;
  text-align: left;
}

.input_div .icon_close {
  position: absolute;
  left: 0;
  color: $secondary-color;
}
