@import "../../variables.scss";

.btn {
  border: none;
  outline: none;
  background: $light-grey-color;
  color: $main-color;
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

.btn.selected {
  background: $main-color;
  color: $white-color;
}

.btn:hover {
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
