@import "../../variables.scss";

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  border-radius: 12px;
  padding-block-end: 5px;
  margin-bottom: 5px;

  animation-name: changeHeaderBackground;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes changeHeaderBackground {
  0% {
    background-color: rgba($color: $main-color, $alpha: 0.2);
  }

  100% {
    background-color: rgba($color: $main-color, $alpha: 0.3);
  }
}

.header h2 {
  font-family: $font_arabic;
  font-weight: bold;
  padding: 6px 12px;
  margin: 10px 0;

  text-align: center;

  color: $white-color;

  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 1);
}

.header h2 span {
  padding-inline-start: 20px;
}

.back {
  position: absolute;

  top: 16px;
  left: 10px;
}