@import "../../variables.scss";

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.header h2 {
  text-align: center;
  color: $secondary-color;
  margin: 10px 0;
}

.header h2 span {
  background-color: $green-color;
  color: $white-color;

  padding: 4px 8px;
  border-radius: 6px;
}
