@import "../../variables.scss";

.header {
  position: sticky;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 5px;
  background-color: rgba($color: $light-color, $alpha: 1);
  z-index: 8;
}

.header:lang(ar) {
  padding-right: 40px;
  padding-left: 20px;
}

.header:lang(en) {
  padding-left: 40px;
  padding-right: 20px;
}

.header p {
  flex: 1;
  font-weight: bold;
  margin: 10px 0;
  color: $white-color;
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
  font-size: 18px;
  text-align: center;
}

.header p span {
  padding-inline-start: 20px;
  padding-right: 20px;
}
