@import "../../variables.scss";

.offer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 0;
  margin: 4px 0;
  border-radius: 6px;
  background: $offer-color;
  color: $main-color;

}

.value {
  border-radius: 4px;
  background: $white-color;
  color: $third-color;

  margin: 0 4px;
  padding: 0 6px;
}

.with_padding {
  padding: 0 6px;
}

.left_padding {
  padding-left: 20px;
}

.max_qty_div {
  display: flex;
  align-items: center;

  margin-block: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  p {
    margin: 0 5px;
    font-size: 18px;
    color: $main-color;
  }
}

.select_warehouse,
.selected_qty {
  display: flex;
  align-items: center;
}


.select_warehouse .value {
  color: $main-color;
  font-size: 18px;
  font-weight: bold;
  min-width: 0;
}

.selected_qty .input {
  width: 60px;
  padding: 2px 4px;
  border-radius: 6px;
  outline: none;
  font-size: 20px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  color: $main-color;
}

.selected_qty input.error {
  border: 1px solid rgba($color: #ff0000, $alpha: 1);
}

.label {
  color: $grey-color;
  font-size: 16px;
  min-width: 90px;
  width: 90px;
}

.separator {
  margin: 10px auto;
  width: 90%;
  height: 2px;
  background-color: rgba($color: #000000, $alpha: 0.1);
}