@import "../../variables.scss";

.container {
  padding: 20px 0;
  background-color: $white-color;
}

.content_container {
  padding: 5px;
  position: relative;
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: $offer-color;
    text-shadow: 2px 2px 5px#000;
    font-weight: bold;
    font-size: 2rem;
    line-height: 6rem;
    text-align: center;
    border-bottom: 2px solid $main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
      width: 64px;
      height: auto;
      border-radius: 12px;
      border-radius: 50%;
      box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
      background-color: $white-color;
    }
  }

  p {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: $font-ar-01;
    color: $main-color;
    line-height: 40px;
    text-align: justify;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    flex-direction: row;
  }
}
