@import "../../variables.scss";

.container {
  padding: 20px 0;
  background-color: $white-color;
  display: flex;
  padding: 40px 0;
}

.content_container {
  padding: 5px;
  position: relative;
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header p {
  font-size: 3rem;
  color: $dark-color;
  font-weight: bolder;
  order: 2;
}

.header .img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px rgba($color: $dark-color, $alpha: 0.3);
  background-color: $white-color;
  order: 1;
}

.content p {
  text-align: justify;
  font-size: 1rem;
  line-height: 2.5rem;
  color: $main-color;
}

@media only screen and (min-width: $small) {
  .container {
    flex-direction: row;
  }

  .content_container {
    justify-content: center;
  }

  .header {
    flex-direction: row;
  }

  .header p {
    font-size: 3rem;
    order: 1;
  }

  .header .img {
    order: 2;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    flex-direction: row;
  }

  .header {
    flex-direction: row;
  }

  .header p {
    font-size: 5rem;
    order: 1;
  }

  .header .img {
    order: 2;
  }
}
