@import "../../variables.scss";

.container {
  width: 100%;
  color: $secondary-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 4px;
  margin-block-end: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-block-end: 4px;
  margin-bottom: 4px;
}

.header p {
  padding: 0 6px;
}

.header .add_icon {
  color: $green-color;
  cursor: pointer;
  margin: 10px auto;
}

.header .add_icon:hover {
  opacity: 0.9;
}

.input_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_div input {
  width: 75px;
  padding: 4px 12px;
  text-align: center;
  color: $green-color;

  border: none;
  outline: none;
}

.input_div label {
  font-size: 0.7rem;
}

.delete_icon {
  color: $third-color;
  cursor: pointer;
}

.delete_icon:hover {
  opacity: 0.9;
}

@media only screen and (min-width: $medium) {

  .input_div label {
    font-size: 0.9rem;
  }
}