@import "../../variables.scss";

.container {
  width: 100%;
  color: $light-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 4px;
  margin-block-end: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-block-end: 4px;
  margin-bottom: 4px;
}

.header p {
  padding: 0 6px;
}

.header .add_icon {
  color: $green-color;
  cursor: pointer;
  margin: 10px auto;
}

.header .add_icon:hover {
  opacity: 0.9;
}

.input_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input_div input {
  font-size: 16px;
  min-width: 60px;
  max-width: 100px;
  margin: 0 4px;
  text-align: center;
  color: $green-color;
  border: 1px solid $light-grey-color;
  border-radius: 6px;
  outline: none;
}

.input_div label {
  font-size: 12px;
  color: $main-color;
  width: fit-content;
}

.delete_icon {
  color: $red-color;
  cursor: pointer;
}

.delete_icon:hover {
  opacity: 0.9;
}

@media only screen and (min-width: $medium) {
  .input_div label {
    font-size: 16px;
  }
}
