@import "../variables.scss";

.container {
  width: 100%;

  padding: 4px 0;
  margin: 6px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $main-color;
  background-color: $white-color;

  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.3);
  border-radius: 6px;
}

.search_container {
  width: 100%;
  padding: 4px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $main-color;
  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.2);
}

.container.without_box_shadow {
  margin: 0;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  border-radius: 0;

  box-shadow: none;
}

.container.error {
  box-shadow: 0 0 2px rgba($color: $third-color, $alpha: 1);
  border: 1px solid $third-color;
}

.container:hover {
  background-color: rgba($color: #000, $alpha: 0.1);
}

.container label {
  text-align: center;
  color: $main-color;
}

.container label.align_start {
  text-align: start;
}

// .container .input {
//   width: 100%;
//   padding: 4px 2px;
//   font-size: 0.6rem;
//   text-align: center;
//   border: none;
//   outline: none;
//   background-color: transparent;
//   border-radius: 6px;
//   color: $grey-color;
// }

// .input:focus {
//   border-bottom: 1px solid $secondary-color;
//   border-radius: 0;
//   color: $grey-color;
// }

.hover_underline {
  text-decoration: none;
  color: $main-color;
}

.hover_underline:hover {
  text-decoration: underline;
}

.padding_start {
  padding-right: 12px;
}

.padding_end {
  padding-left: 12px;
}

.padding_all {
  padding: 8px 12px;
}

.full_width {
  flex: 1;
}

.icon,
.cart_icon {
  transition: all 0.5s;
  cursor: pointer;

  margin-inline-end: 10px;
}

.icon {
  color: #e9b93f;
}

.icon:hover,
.cart_icon:hover {
  transform: scale(1.1);
}

.cart_icon {
  color: $green-color;
}

.small_font {
  font-size: 0.7rem !important;
}

@media only screen and (min-width: $small) {
  .container {
    width: 100%;
  }

  .container .input {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: $medium) {
  .container {
    width: 100%;
  }

  .container .input {
    font-size: 1rem;
  }
}