@import "../variables.scss";

.link {
  width: 100%;

  text-decoration: none;

  color: $main-color;

  padding: 5px 20px;
  margin-block-end: 4px;

  font-family: $font_arabic;
  font-size: 1.2rem;

  cursor: pointer;

  transition: all 0.2s;
}

.link.selected,
.link:hover,
.link.selected:hover {
  background: $third-color;
  color: $white-color;

  border-radius: 6px;
}

.badge {
  display: inline-block;
  background: $third-color;
  color: $white-color;

  padding-inline: 12px;
  border-radius: 50%;
}