@import "../variables.scss";

.label_small {
  flex: 1;
  font-size: 0.6rem;
}

.label_xsmall {
  width: 40px;
  font-size: 0.6rem;
}

.label_medium {
  flex: 2;
  font-size: 0.5rem;
}

.label_large {
  flex: 4;
  font-size: 0.7rem;
}

.center {
  text-align: center;
}

.underline:hover {
  text-decoration: underline;
}

.hide_on_small {
  display: none;
}

.hide_on_medium {
  display: none;
}

@media only screen and (min-width: $small) {
  .label_small {
    font-size: 0.7em;
  }

  .label_xsmall {
    font-size: 0.7rem;
  }

  .label_medium {
    font-size: 0.7rem;
  }

  .label_large {
    font-size: 0.7rem;
  }

  .hide_on_small {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: $medium) {
  .label_small {
    font-size: 1rem;
  }

  .label_xsmall {
    font-size: 1rem;
  }

  .label_medium {
    font-size: 1rem;
  }

  .label_large {
    font-size: 1rem;
  }

  .hide_on_medium {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hide_on_small {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
