@import '../../variables.scss';

.selectDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $white-color;
  border-radius: 6px;
  margin-bottom: 4px;

  label {
    min-width: 95px;
    color: $secondary-color;
    font-size: 14px;
    margin-right: 8px;
  }
}