@import "../../variables";

.container {
  position: relative;
}

.container p {
  min-width: 16px;
  min-height: 16px;

  padding: 0px 2px;

  position: absolute;
  top: -15px;
  left: -6px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $third-color;
  border-radius: 6px;
  color: $white-color !important;
}

p.small {
  font-size: 0.5rem;
}
