@import "../../variables.scss";

.content_area {
  width: 100%;
  margin: 10px auto;

  position: relative;

  z-index: 1;
}

.hamburger_menu {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 10;
}

.hamburger_menu p {
  color: $white-color;
  font-size: 0.8rem;
  padding-inline-start: 10px;
}

.toTop {
  position: fixed;
  left: 50px;
  bottom: 30px;

  font-size: 2rem;

  color: $secondary-color;
  opacity: 0.6;

  cursor: pointer;

  transition: all 0.3s;
}

.toTop:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media only screen and (min-width: $small) {
  .hamburger_menu {
    display: none;
  }
}

@media only screen and (min-width: $medium) {
  .content_area {
    width: 80%;
  }
}
