@import "../../variables.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content_area {
  position: relative;
  flex: 1;
  z-index: 1;
  min-height: calc(100vh - 106px);
}

.hamburger_menu {
  height: 60px;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.hamburger_menu p {
  color: $white-color;
  font-size: 18px;
  padding-inline-start: 10px;
  padding-right: 10px;
}

.toTop {
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: $blue-color;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100;
  background-color: $white-color;
  border-radius: 50%;
}

.toTop:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media only screen and (min-width: $small) {
  .hamburger_menu {
    display: none;
  }
}
