@import "../../variables.scss";

.company_container {
  width: 100%;
  display: flex;
  padding: 4px 12px;
  justify-content: space-between;
  align-items: center;

  color: $secondary-color;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.company_container:hover {
  background-color: rgba($color: $main-color, $alpha: 0.1);
}

.company_container .company_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: $small) {
  .company_container {
    width: 100%;
  }
}

@media only screen and (min-width: $medium) {
  .company_container {
    width: 100%;
  }
}

.icon {
  color: #e9b93f;
  transition: all 0.5s;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}
