@import "../../variables.scss";

.icon_container {
  width: 200px;
  height: 200px;

  flex-direction: column;


  color: $green-color;

  border-radius: 50%;

  cursor: pointer;

  transition: all 0.3s;
}

.icon_container:hover {
  background-color: $green-color;
  color: $white-color;
}