@import "../../variables.scss";

.excel_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.excel_icon .icon {
  font-size: 20rem;
  color: rgba($color: $green-color, $alpha: 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.excel_icon .icon.small {
  font-size: 2rem;
}

.excel_icon .icon:hover {
  color: rgba($color: $green-color, $alpha: 1);
  transform: scale(1.1);
}
