@import "../../variables.scss";

.side_nav_container {
  position: fixed;
  top: 60px;
  bottom: 0;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
}

.collapsed {
  width: 0px;
  background: $white-color;
  border-left: 1px solid $secondary-color;
}

.showed {
  width: 200px;
  background: $secondary-color;
  box-shadow: -6px 0 6px rgba(0, 0, 0, 0.3);
}

.profile_img {
  background-position: center;
  background-size: contain;
  width: 50%;
  padding-top: 50%;
  border-radius: 50%;
  margin: 10px 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;

  overflow: hidden;
}

.links .link {
  width: 100%;
  text-decoration: none;
  color: $white-color;
  cursor: pointer;
  padding: 5px 20px;

  transition: all 0.2s;
}

.links .link.selected {
  color: $third-color;
}

.links .link.selected:hover {
  color: $third-color;
}

.links .link.selected:lang(ar) {
  border-right: 3px solid $third-color;
}

.links .link.selected:hover:lang(ar) {
  border-right: 3px solid $third-color;
}

.links .link.selected:lang(en) {
  border-left: 3px solid $third-color;
}

.links .link.selected:hover:lang(en) {
  border-left: 3px solid $third-color;
}

.links .link:hover {
  color: $third-color;
}

.side_nav_container button {
  position: absolute;
  top: 50%;

  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  color: $white-color;
  background-color: $secondary-color;

  transition: all 0.5s;
}

.side_nav_container button:hover {
  transform: scale(1.1);
}

.side_nav_container button:lang(ar) {
  left: -30px;
}

.side_nav_container button:lang(en) {
  right: -30px;
}

.icon {
  position: absolute;
  top: 24px;
}

.icon:lang(ar) {
  left: 20px;
}

.icon:lang(en) {
  transform: rotate(180deg);
  right: 20px;
}

.icon_showed:lang(ar) {
  animation-name: icon-showed-move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  opacity: 0;
}

@keyframes icon-showed-move {
  0% {
    left: 5px;
    opacity: 0;
  }

  50% {
    left: 20px;
    opacity: 1;
  }

  100% {
    left: 20px;
  }
}

.icon_showed:lang(en) {
  animation-name: icon-showed-move-en;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  opacity: 0;
}

@keyframes icon-showed-move-en {
  0% {
    right: 5px;
    opacity: 0;
  }

  50% {
    right: 20px;
    opacity: 1;
  }

  100% {
    right: 20px;
  }
}

.icon_collapsed:lang(ar) {
  animation-name: icon-collapsed-move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  opacity: 0;
}

@keyframes icon-collapsed-move {
  0% {
    left: 20px;
    opacity: 0;
  }

  50% {
    left: 5px;
    opacity: 1;
  }

  100% {
    left: 5px;
  }
}

.icon_collapsed:lang(en) {
  animation-name: icon-collapsed-move-en;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  opacity: 0;
}

@keyframes icon-collapsed-move-en {
  0% {
    right: 20px;
    opacity: 0;
  }

  50% {
    right: 5px;
    opacity: 1;
  }

  100% {
    right: 5px;
  }
}
