@import "../../variables.scss";

.input {
    width: 100%;
    border: none;
    border-radius: 6px;
    padding-block: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 0 3px 3px rgba($color: #000000, $alpha: 0.3);
    outline: none;
}

.error {
    box-shadow: 0 0 3px 3px rgba($color: $third-color, $alpha: 1);
}
