@import "../../variables.scss";

.header {
  padding: 10px 0;

  // border-bottom: 1px solid $secondary-color;
  background: $secondary-color;

  display: flex;
  align-items: center;

  position: sticky;
  top: 60px;

  border-radius: 6px;

  z-index: 2;
}

.header label {
  color: $white-color;
  font-weight: bold;
  text-align: center;
  font-size: 0.7rem;
}
