@import "../../variables.scss";

.header {
  margin-block-start: 10px;
  padding: 10px 0;

  background: $main-color;

  display: flex;
  align-items: center;

  position: sticky;
  top: 60px;

  border-radius: 6px;

  z-index: 2;
}

.header label {
  color: $white-color;
  text-align: center;
}