@import "../../variables.scss";

.container {
  width: 100vw;
  min-height: calc(50vh - 60px);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  // background-color: $white-color;
  // background: linear-gradient(135deg, hsla(239, 100%, 67%, 0.5) 0%, hsla(187, 100%, 89%, 1) 100%);

}

.container h3 {
  padding: 12px;
  font-size: 3rem;
  font-weight: bolder;
  background-image: linear-gradient(135deg, hsla(43, 91%, 69%, 1) 25%, hsla(212, 74%, 50%, 1) 100%);

  background-size: 100%;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.search_container {
  display: flex;
  flex-direction: column;

  width: 80%;

  margin-inline: auto;

  position: relative;
}

.search_div {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color: $white-color, $alpha: 1);

  border: 1px solid $secondary-color;
  border-radius: 12px;

  padding: 10px;
}

.search_div.has_value {
  border-bottom: 1px solid $secondary-color;
  border-radius: 12px 12px 0 0;
}

.input {
  background-color: transparent;

  flex: 1;

  border: none;
  outline: none;

  padding: 0 20px;

  color: $secondary-color;
}

.icon {
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color: $secondary-color, $alpha: 1);
  color: $white-color;
  padding: 8px 50px;
  margin: 5px 0;
  border-radius: 12px;

  cursor: pointer;
}

.option:hover {
  transform: scale(1.01);
}

.option.selected {
  background-color: rgba($color: $third-color, $alpha: 1);
}

.result_div {
  width: 100%;
  min-height: 50px;
  max-height: 150px;

  position: absolute;
  top: 49px;

  z-index: 100;

  background-color: rgba($color: $white-color, $alpha: 1);

  border: 1px solid $secondary-color;
  border-top: none;
  border-radius: 0 0 12px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: scroll;
}

@media only screen and (min-width: $medium) {
  .options {
    flex-direction: row;
  }

  .option {
    margin: 15px 5px;
  }

  .result_div {
    max-height: 300px;
  }
}