@import "../../variables.scss";

.container {
  height: calc(100vh - 60px);
  width: calc(100vw - 35px);
  background-color: rgba($color: $secondary-color, $alpha: 0.7);
  margin: 0 auto;
  padding: 6px;

  flex: 1;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  animation-name: animate-search;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  position: fixed;
  top: 60px;

  z-index: 200;

}

@keyframes animate-search {
  0% {
    right: -100vw;
  }

  100% {
    right: 35px;
  }

}

.description {
  font-size: 1.5rem;
  font-family: $font3;

  color: #fff;

  margin-block-end: 16px;

  text-align: center;
  text-shadow: 2px 2px 3px rgba($color: black, $alpha: 0.3);
  text-transform: uppercase;
}

.app_logo {
  width: 150px;
  height: 150px;

  order: 1;

  margin-block: 12px;
}

.search_container {
  display: flex;
  flex-direction: column;

  width: 90%;

  margin-inline: auto;

  position: relative;

  order: 2;
}

.search_div {
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 1px solid $secondary-color;
  border-radius: 12px;

  padding: 10px;

  background: $white-color
}

.search_div.has_value {
  border-bottom: 1px solid $white-color;
  border-radius: 12px 12px 0 0;
}

.input {
  background-color: transparent;

  flex: 1;

  border: none;
  outline: none;

  padding: 0 20px;

  color: $secondary-color;
}

.icon {
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.result_div {
  width: 100%;
  min-height: 50px;
  max-height: 150px;

  position: absolute;
  top: 135px;

  z-index: 100;

  background-color: rgba($color: $white-color, $alpha: 1);

  // border: 1px solid $secondary-color;
  border-top: none;
  border-radius: 0 0 12px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: scroll;
}

@media only screen and (min-width: $small) {
  .container {
    flex-direction: row;
    width: 70vw;
  }

  .result_div {
    max-height: 300px;
    top: 100px;
  }
}

@media only screen and (min-width: $medium) {

  .container {
    flex-direction: row;
    width: 60vw;
  }

  .search_container {
    width: 80%;
    order: 1;
  }

  .result_div {
    max-height: 300px;
    top: 100px;
  }
}



.header {
  width: 100%;
  text-align: right;
  padding-inline-start: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  color: $green-color;
  margin-block-start: 5px;
}