@import "../../variables.scss";

.loading {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.excel_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.excel_icon .icon {
  font-size: 15rem;
  color: rgba($color: #000000, $alpha: 0.2);
  cursor: pointer;
  transition: all 0.3s;
}

.excel_icon .icon:hover {
  color: rgba($color: #000000, $alpha: 1);
}

@media only screen and (min-width: $medium) {
  .actions {
    flex-direction: row;
  }
}

.basic_details_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-block-end: 6px;
}

.label {
  width: 175px;
  font-size: 1rem;
  color: #9d9d9d;
}

.name {
  color: $secondary-color;

  margin-inline: 10px;

  font-size: 1.1rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.separator {
  height: 1px;
  background: $secondary-color;
  opacity: 0.5;
  margin-block: 10px;
  width: 80%;
  margin-inline: auto;
}

.checkbox_div {
  background: #e3e3e3;
  border-radius: 3px;
  padding: 2px;
  margin-inline: 2px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
}