@import '../../variables.scss';

.container {
  position: absolute;

  width: 100%;
  height: 100%;
  background: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}

.container .loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: $secondary-color;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container .loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, $white-color);
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.container .loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: $white-color;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px $white-color,
    0 0 20px $white-color,
    0 0 30px $white-color,
    0 0 40px $white-color,
    0 0 50px $white-color,
    0 0 60px $white-color,
    0 0 70px $white-color,
    0 0 80px $white-color,
    0 0 90px $white-color,
    0 0 100px $white-color;
}

.container .loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: $secondary-color;
  border-radius: 50%;
}