@import "../../variables.scss";

.row_container {
  border-radius: 6px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  // overflow: hidden;
}

.row_container:hover {
  background: rgba($color: $white-color, $alpha: 0.8);
}

.inner_container {
  width: 85%;
  overflow: hidden;
  background: $white-color;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgba($color: $secondary-color, $alpha: 0.6);
  // box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.6);
  cursor: pointer;

}

.img {
  width: 15%;
  padding: 2px;
  background-color: $main-color;
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: 0.6);

  margin-inline-end: 10px;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100px;
  border-radius: 6px;
}

.actions {
  width: 120px;
  margin-right: auto;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
}

.delete {
  width: 48px;
  height: 48px;

  margin: auto 10px;
  margin-inline-end: 0;
  margin-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $white-color;
  color: $third-color;
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.6);
  border-radius: 12px;

  cursor: pointer;

  transition: all 0.3s ease;
}

.delete:hover {
  transform: scale(0.95);
  background: $third-color;
  color: $white-color;
}

.unread {
  width: 48px;
  height: 48px;

  margin: auto 10px;
  margin-inline-end: 0;
  margin-left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 4px 12px;

  overflow: hidden;
}

.row label {
  min-width: 75px;
  font-size: 0.8rem;
  color: #919191;
}

.body {
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;

  color: #919191;
}

.header {
  font-weight: bolder;
  font-size: 1rem;
  color: $main-color;
}

.unread_icon {
  color: $main-color;
  position: absolute;
  left: 20px;
  top: 0;
}