@import "../../variables.scss";

.nav {
  width: 100%;
  margin: auto;
  min-height: 60px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $main-color;

  border-bottom: 1px solid $main-color;

  box-shadow: 0 2px 5px #584b53ac;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.center {
  flex: 1;
  justify-content: center;
}

div.center,
div.end {
  display: flex;
  flex-direction: row;
}

div .link {
  text-decoration: none;
  color: $white-color;
  cursor: pointer;
  font-weight: bold;

  transition: all 0.5s;
}

div.center .link {
  padding: 4px 8px;
  font-size: 16px;
}

div.end .link {
  padding: 4px 6px;
  font-size: 12px;
}

div .link:hover {
  border-bottom: 1px solid $main-color;
  color: $secondary-color;
  transform: scale(1.1);
}
