@import "../../variables.scss";

.nav {
  width: 100%;
  min-height: 60px;
  margin: auto;

  position: sticky;
  top: 60px;
  z-index: 10;

  background-color: $main-color;

  box-shadow: 0 2px 5px $secondary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.center,
div.end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div .link {
  text-decoration: none;
  color: $white-color;
  cursor: pointer;
}

div.center .link,
div.end .link {
  padding: 4px 8px;
  font-size: 1rem;
  margin: 0 6px;
}

div.end .link {
  font-size: 12px;
}

div .link:hover {
  border-bottom: 1px solid $third-color;
  color: $third-color;
}

div .link.selected {
  border-bottom: 1px solid $third-color;
  color: $third-color;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

@media only screen and (min-width: $small) {
  .nav {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
  }

  div.center,
  div.end {
    flex-direction: row;
  }

  div.center {
    flex: 1;
  }
}

@media only screen and (min-width: $medium) {
}

.profile_img {
  background-position: center;
  background-size: contain;
  width: 32px;
  padding-top: 32px;
  border-radius: 50%;

  margin: 0 10px;

  cursor: pointer;

  position: relative;
}

.profile_img .user_actions {
  background: $white-color;
  box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 300px;

  cursor: default;
}
