@import "../../variables.scss";

.expanded_div {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.header_label {
  padding: 6px;

  color: $light-color;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.expanded {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.collapsed {
  display: none;
}
