@import "../../variables.scss";

.header_label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  color: $secondary-color;
}

.expanded {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.collapsed {
  display: none;
}
