@import "../../variables.scss";

.header {
  max-width: 125px;

  text-align: center;

  padding: 6px;
  margin: 0 auto;
  
  font-size: 0.8rem;

  border-bottom: 1px solid $green-color;
  color: $green-color;
}

.row {
  padding-block: 8px;
  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);
  color: $secondary-color;
}

.row .label {
  min-width: 100px;

  font-size: 0.7rem;

  text-align: left;

  display: inline-block;
}

.row .label_value {
  padding-inline:  12px;
  font-size: 0.7rem;
}

@media only screen and (min-width: $small) {
  .row {
    padding-block: 4px;
  }

  .header {
    font-size: 1.2rem;
  }

  .row .label_value {
    font-size: 1rem;
  }

}
