@import "../../variables.scss";

.header {
  text-align: center;

  padding: 6px;
  margin: 0 auto;

  font-size: 0.8rem;

  border-bottom: 1px solid $green-color;
  color: $green-color;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 8px;
  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);
  color: $secondary-color;
}

.row .label {
  min-width: 100px;

  font-size: 0.7rem;
  color: #a8a8a8;

  text-align: left;

  display: inline-block;
}

.row .label_value {
  padding-inline: 12px;
  font-size: 0.7rem;
  font-family: $font_arabic;
}

.icon {
  // border: 1px solid black;
  // display: inline-block;
}

@media only screen and (min-width: $small) {
  .row {
    padding-block: 4px;
  }

  .header {
    font-size: 1rem;
  }

  .row .label_value {
    font-size: 1rem;
  }

}