@import "../../variables.scss";

.header {
  padding: 6px;
  text-align: center;
  // max-width: 125px;
  margin: 0 auto;

  background-color: $green-color;
  color: $white-color;

  border-radius: 6px;
}

.row {
  padding: 8px 0;
  border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.3);
  color: $secondary-color;
}

.row .label {
  font-size: 0.7rem;
  min-width: 100px;
  text-align: left;
  display: inline-block;
}

.row .label_value {
  padding: 0 12px;
}
