@import "../../variables.scss";

.container {
  border: 3px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header {
  color: $main-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .name {
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .total_price {
    padding-left: 6px;
    color: $green-color;
    text-align: left;
  }
}